<div class="container">
	
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-md-4"><img src="<%= product.path_to_image %>">
				<h4><b><%= product.title %></b></h4>
					<p><i><%= product.description %></i></p>
					<p>Цена:<%= product.price %></p>
					<p>Диаметр:<%= product.size %>
						<% if product.is_best_offer == true %>
							<p>Лучшие продажи</p>
						
						<% end %>
					
				</div>
			<% end %>

		</div>

	
		
</div>



	